@import url('./fonts.css');
@import url('./commons.css');
@import url('./variables.css');

/* SECTION HEADER */

header {
    display: flex;
    flex-direction: column;
}
  
.section-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.logo-header {
    width: 15rem;
    height: 4rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 5rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.menu li {
    margin: 2rem;
}

.title-header {
    order: 1;
    font-size: 4.4rem;
    font-weight: 100;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-top: 5rem;
    flex-basis: 100%;
}

@media screen and (max-width: 767px) {
    .navbar{
        flex-direction: column;
    }

    .title-header {
        align-items: center;
        font-size: 3.125rem;
        flex-basis: auto;
        margin-top: 2rem;
        margin-bottom: 4rem;
        order: 0;
    }

    .menu {
        flex-direction: column;
        width: 90%;
    }

    .menu li {
        width: 100%;
        padding: .7rem;
        margin: 0;
        border-bottom: .01rem solid var(--color-blue);
        text-align: center;
    }
}

/* About section */

.about-cmb {
    padding: 8rem 0;
}

.about-logo {
    height: 2.938rem;
    margin: 0 auto 2rem auto;
    width: 10.813rem;
}

.about-paragraph {
    font-size: 2rem;
    margin: auto;
    max-width: 50rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .about-cmb {
        padding: 6rem 0;
    }
}

/* Our objective and Our team */

.section-image {
    background-color: var(--color-gray);
    position: relative;
}

.section-image-container {
    height: 54.875rem;
}

.section-image-content {
    padding-top: 6rem;
}

.section-image-title {
    font-size: var(--font-93);
    font-weight: 100;
}

.section-image-title span {
    display: block;
}

.section-image-paragraph {
    font-size: 1.625rem;
    margin: 3rem 0 4rem 0;
}

.objective-media {
    height: 54.875rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 68.813rem;
}

.team-media {
    height: 54.875rem;
    position: absolute;
    right: 0;
    top: 0;
    width: 59.563rem;
}

@media screen and (min-width: 767px) {
    .section-image-paragraph {
        max-width: 40.5rem;
    }
}

@media screen and (max-width: 767px) {
    .section-image {
        display: flex;
        flex-direction: column-reverse;
    }

    .content { margin: 5rem 0; }

    .objective-media {
        height: 40rem;
        position: initial;
        width: 100%;
    }

    .team-media {
        height: 40rem;
        position: initial;
        width: 100%;
    }

    .team-media img {
        object-position: bottom;
    }
}

/* Treatments */

.treatments {
    padding: 4rem 0 6rem 0;
}

.treatments-article {
    position: relative;
}

.article-wrapper {
    align-items: center;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    flex-basis: 85%;
}

.treatments-wrapper-article  {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 24.75rem;
}

.treatments-article::before {
    background-color: var(--color-blue);
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 101.313rem;
    z-index: -1;
}

.treatments-article:nth-child(2)::before {
    background-color: var(--color-steel-teal);
}

.treatments-article:nth-child(3)::before {
    background-color: var(--color-crystal-blue);
}

.treatments-article:nth-child(4)::before {
    background-color: var(--color-pewter-blue);
}

.treatments-wrapper-title {
    padding-bottom: 7rem;
    padding-top: 5rem;
    text-align:  center;
}

.treatments-title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .6rem;
    text-transform:  uppercase;
}

.treatments-article-title {
    font-size: var(--font-93);
    font-weight: 100;
}

.treatments-article-title span {
    display: block;
}

.treatments-article-paragraph {
    font-size: 1.5rem;
}

.treatments-icono {
    height: 6.25rem;
    width: 6.25rem;
}

@media screen and (min-width: 767px) {
    .treatments-article-paragraph {
        max-width: 32.438rem;
    }

    .title-desktop { display: block; }

    .title-mobile { display: none; }
}

@media screen and (max-width: 767px) {
    .article-wrapper {
        align-items: start;
        flex-direction: column;
    }

    .treatments-wrapper-article  {
        align-items: start;
        flex-direction: column-reverse;
        height: auto;
        margin-top: 6rem;
    }

    .treatments-article::before {
        height: 80%;
        width: 100%;
    }

    .treatments-article-title {
        font-size: 5rem;
        padding: 4rem 0;
    }

    .title-desktop { display: none; }

    .title-mobile { display: block; }

    .treatments-article-paragraph {
        padding-bottom: 5rem;
    }

    .treatments-wrapper-title {
        padding-bottom: 2rem;
    }

    .treatments-icono {
        margin: auto;
    }
}

/* Section Contact Us */

.contact-us {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 7rem;
}

.contact-head {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;

}
.contact-form {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}
.title-contact-us {
    font-size: var(--font-93);
    font-weight: 100;
    margin: 7rem 0 2.5rem 0;
    flex-direction: column;
    flex-wrap: wrap;
}

.title-contact-us span {
    display: flex;
}

.icon-contact-us {
    height: 6.25rem;
    width: 6.25rem;
}

form {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 100%;
    flex-basis: 50%;
}

.input-form {
    padding: 1rem;
    width: 47%;
    margin: 0 1.5rem 1.5rem 0;
    background-color: var(--color-flash-white);
}

.input-form:nth-child(2), .input-form:nth-child(4) {
    align-self: end;
}

.input-form:nth-child(5), .input-form:nth-child(6) {
    width: 100%;
}

.input-form::placeholder {
    font-size: 1.188rem;
    color: var(--color-blue);        
}

.send-btn {
    margin: 2rem 1.5rem 0 0;
    width: 100%;
    text-align: end;
}

.btn-submit {
    padding: 1rem 4rem;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 1rem;
}

@media screen and (max-width: 767px) {
    .contact-us {
        display: flex;
        flex-direction: column;
    }

    form{
        margin-top: 3.5rem;
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
    }

    .input-form {
        padding: 1.5rem;
        width: 100%;
        margin-bottom: 1.5rem;
        background-color: var(--color-flash-white);
    }
    
    .input-form::placeholder {
        font-size: 1.188rem;
        color: var(--color-blue);        
    }

    .send-btn {
        margin-top: 2rem;
        width: 100%;
        text-align: end;
    }

    .btn-submit {
        padding: .7rem 3rem;
        font-size: 1rem;
    }

    textarea {
        min-height: 19.625rem;
    }
}

/* Section Footer */

.logo-footer {
    width: 8.813rem;
    height: 2.375rem;
}

.navbar-footer {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-link {
    color: var(--color-white);
    font-weight: 400;
}

.info-footer {
    color: var(--color-white);
    text-align: end;
}

@media screen and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 0 2rem 0;
    }

    .navbar-footer {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .logo-footer {
        display: flex;
        align-self: center;
        margin-bottom: 3rem;
    }

    .menu-footer li {
        border-bottom: .01rem solid var(--color-white);
    }

    .info-footer {
        font-size: .813rem;
    }
}