@import url('./fonts.css');
@import url('./commons.css');
@import url('./variables.css');

/* SECTION HEADER */

header {
    display: flex;
}
  
.section_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    justify-content: space-between;
}

.logo_header {
    width: 225px;
    height: 62px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar ul li {
    margin: 2rem;
}

.title_header {
    font-size: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 5rem;
}

/* About section */

.about-cmb {
    padding: 8rem 0;
}

.about-logo {
    height: 2.938rem;
    margin: 0 auto 2rem auto;
    width: 10.813rem;
}

.about-paragraph {
    font-size: 1.438rem;
    margin: auto;
    max-width: 40.625rem;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .about-cmb {
        padding: 6rem 0;
    }
}

/* Our objective */

.our-objective {
    align-items: center;
    background-color: var(--color-gray);
    display: flex;
}

.objective-title {
    font-size: var(--font-93);
    font-weight: 100;
}

.objective-title span {
    display: block;
}

.objective-paragraph {
    font-size: 1.625rem;
    margin: 3rem 0 4rem 0;
    max-width: 40.5rem;
}

.objective-media {
    height: 54.875rem;
    width: 68.813rem;
}

@media screen and (max-width: 767px) {
    .our-objective {
        flex-direction: column-reverse;
    }

    .content { margin: 5rem 0; }

    .objective-media {
        height: 31.875rem;
        width: 100%;
    }
}