:root {
    --font-93: 5.8rem;
    --color-white: #ffff;
    --color-gray: #ededed;
    --color-blue: #34617a;
    --color-crystal-blue: #5ca6ad;
    --color-steel-teal: #6c8e87;
    --color-pewter-blue: #84adbc;
}